{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Start a New Topic{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
<li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li>
<li class="breadcrumb-item active">New topic</li>
{% endblock %}

{% block content %}
<form method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <input id="fileupload" type="file" name="file" multiple>
    <button type="submit" class="btn btn-success mb-5" >Post</button>
</form>
{% endblock %}

{% block javascript %}
<script src="{% static 'boards/js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'boards/js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'boards/js/jquery-file-upload/jquery.fileupload.js' %}"></script>

<script src="{% static 'boards/js/basic-upload.js' %}"></script>
{% endblock %}
