{% extends 'base.html' %}

{% block title %}{{ board.name }} - {{ block.super }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
<li class="breadcrumb-item active">{{ board.name }}</li>
{% endblock %}

{% block content %}
<div class="d-flex p-2">
    <a href="{% url 'new_topic' board.pk %}" class="btn btn-primary">New topic</a>

<div class="right">
    <span class="export-text">Export: </span>
    <button type="button"
            class="btn btn-sm border-yellow1"><a class='export' href="{% url 'export_boards_csv' board.id %}">CSV</a></button>
    <button type="button"
            class="btn btn-sm border-pink"><a class='export' href="{% url 'export_boards_xls' board.id %}">XLS</a></button>
    <button type="button"
            class="btn btn-sm border-blue"><a class='export' href="{% url 'export_boards_pdf' board.id %}">PDF</a></button>
</div>
</div>
<table class="table table-striped mb-4">
    <thead class="thead-inverse">
    <tr>
        <th>Topic</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Last Update</th>
    </tr>
    </thead>
    <tbody>
    {% include 'includes/topics_list.html' %}
    </tbody>
</table>

{% include 'includes/pagination.html' %}

{% endblock %}