body {
  background-image: url(../img/dot-grid.png);
}
.content {
    min-height: 850px;
}
nav {
    background-color: #FF87AB;
}
.navbar {
    padding: 2px;
}
.navbar-brand {
    color: white;
    font-family: 'Amiri', serif;
    font-size: 24px;
}
.navbar-brand:hover, .navbar-brand:active, a.nav-link:hover, a.nav-link:focus {
    text-decoration: none;
    color: #FADDE1;
}
.btn {
    background-color: #FFACC5;
    border: 1px solid #FFA6C1;
}
.btn:hover, .btn:active, .btn:focus {
    background-color: #FF7AA3;
    border: 1px solid #FFACC5;
}
a {
    color: #651ee8;
}
a:hover {
    color: #FF5D8F;
}
a.nav-link {
    color: white;
}
.logo a {
  color: #FF5D8F;
}
.logo a:hover, .logo a:active {
  text-decoration: none;
  color: #FF5D8F;
}
tr {
    border-bottom: 2px solid #e6e8eb;
}
.breadcrumb {
    padding: 10px;
    background-color: #FADDE1;
    border-radius: 5px;
}
.thead-inverse {
    color: white;
    background-color: #FF7AA3;
}
.form-group {
    margin: 10px 0;
}
.navbar-collapse {
    flex-grow: 0;
}
button.btn-primary {
    width: 100%;
}
table.table {
    background-color: white;
}
.card-footer {
    margin-top: 20px;
}
.form_bth {
    margin-bottom: 20px;
}
footer {
    padding-top: 5px;
    background-color: #FADDE1;
}
.card-header {
    color: white;
    background-color: #FF7AA3;
}
.btn .border-pink {
    border-color: #FF7AA3;
}
.btn .border-yellow {
    border: 1.5px solid #FFCAD4;
}
.border-yellow1 {
    border: 1.5px solid #FFCAD4;
    background-color: #fff1c8;
}
.border-yellow1:hover {
    background-color: #ffc247;
}
.border-blue {
    border: 1.5px solid #7aceff;
    background-color: #abcfff;
}
.border-blue:hover {
    background-color: ##85b9ff;
}
.alert-success {
    background-color: #ffe6ed;
    border: none;
    color: #FF7AA3;
}
.page-item.active .page-link {
    background-color: #FF7AA3;
    border-color: #FF7AA3;

}
.page-link {
    color: #ff4a82;
}
.right {
    margin-left: auto;
    margin-right: 0;
}
#div_id_birthday {
    display: flex;
    margin-right: 20x;
}
.form-label {
    display: block;
    margin-right: 50px;
}
.selectdatewidget {
    margin-right: 10px;
}
.captch {
    margin: auto;
}
.export, .export:hover {
    color: black;
    text-decoration: none;
}

.export-text {
    font-size: 18px;
}
.activity-title {
    color: #313958;
}
    .div-table {
  display: table;
  width: 100%;
  border-spacing: 5px;
  padding: 6px 15px;
  margin-bottom: 15px;
  background-color: #FF7AA3;
  border-radius: 2px;
  color: white;
  font-weight: 600;
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.div-table-col {
    text-align: center;
  float: left;
  display: table-column;
  width: 200px;
}